---
title: singlepost
layout: base
---

  <main>
  {% include 'layouts/partials/billboard.njk' %}
  <div class="container-narrower">
      <article class="article">
        {%- if ext_canonical -%}
        <p class="box"><strong>Note</strong>: This article originally appeared on <a href="{{ ext_canonical }}">{{ ext_source }}</a> and is &copy;&nbsp;{{ helpers.currentYear() }}&nbsp;<a href="{{ ext_url }}" rel="noopener">{{ ext_copyright }}</a>. The&nbsp;article includes external edits (content-related and stylistic) for that&nbsp;site.</p>
        {%- endif -%}
				{# START, divs around Prism `pre``code` stuff #}
				{% set Content = content %}
				{% set withoutDivStart = '<pre class="language-' %}
				{% set withDivStart = '<div class="highlight"><pre class="language-' %}
				{% set withoutDivEnd = '</code></pre>'  %}
				{% set withDivEnd = '</code></pre></div>' %}
				{% if withoutDivStart in content %}
					{% set Content = content | replace (withoutDivStart, withDivStart) %}
					{% set Content = Content | replace (withoutDivEnd, withDivEnd) %}
				{% endif %}
				{#   END, divs around Prism `pre``code` stuff #}
				{{ Content | safe }}
				<p class="ctr legal" data-pagefind-ignore>
					{% gitinfo page.date, page.inputPath %}
				</p>
				{% include 'layouts/partials/contact-button.njk' %}
        {% include 'layouts/partials/comments-giscus.njk' %}
      </article>
    </div>

		{%- set prevPost = collections.post | getPreviousCollectionItem -%}
		{%- set nextPost = collections.post | getNextCollectionItem -%}
		<div class="bg-dark sansSerif" data-pagefind-ignore>
		{%- if nextPost -%}
			<p class="ctr prevnextP">
				<strong>Next</strong>: <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
			</p>
		{%- endif %}
		{%- if prevPost -%}
			<p class="ctr wht prevnextP">
				<strong>Previous</strong>: <a class="next" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
			</p>
		{%- endif %}
		</div>
  </main>
