---
title: contact
layout: base
---
  <main>
    {% include 'layouts/partials/billboard.njk' %}
    <div class="container-narrower">
      <article>
				{% set PublicSans = siteparams.PublicSans %}
				{% set Content = content %}
				{% if PublicSans == true %}
					{% set Content = content | replace(" — ", "—") %}
				{% endif %}
				{{ Content | safe }}
      </article>
    </div>
  </main>
