{%- macro liteYT(videoTitle, videoId) -%}
	<script src="/assets/js/lite-yt-embed_0-2-0.js"></script>
<lite-youtube videoid="{{ videoId }}" data-bg="url('https://i.ytimg.com/vi/{{ videoId }}/hqdefault.jpg')" {% if params %} params="{{ params }}"{% endif %}>
	<button type="button" class="lty-playbtn">
	<span class="lyt-visually-hidden">Play video: {{ videoTitle }}</span>
	</button>
</lite-youtube>
	<noscript>
		<p class="fluid-xs text-center"><em>[Video playback capability requires JavaScript to be&nbsp;enabled.]</em></p>
	</noscript>
	<p class="mt-2 fluid-sm text-center"><strong class="text-red-700 dark:text-red-300">Note</strong>: Clicking&nbsp;the&nbsp;video constitutes your consent to view&nbsp;it via&nbsp;YouTube (including&nbsp;cookies). To&nbsp;view&nbsp;it on the YouTube&nbsp;site instead, please&nbsp;use&nbsp;<a href="https://www.youtube.com/watch?v={{ videoId }}"  target="_blank" rel="noopener">this&nbsp;link</a>, which&nbsp;opens in&nbsp;a different browser&nbsp;window/tab.</p>
{%- endmacro -%}
