article h1, article h2, article h3, article h4 {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	letter-spacing: -0.025em !important;
}

article p {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

article p, article li {
	letter-spacing: -0.0025em;
}

@media screen and (min-width: 1024px) {
	article p, article li {
		font-size: clamp(1.2000rem, calc(0.1330vw + 1.1734rem), 1.3330rem);
		line-height: 1.5em;
	}
}

article ul li li, article ul li li li, article ul li li li li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

article hr + ul {
	margin-top: 1rem;
}

article blockquote {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	color: #3f3f46;
	border-left-width: 4px;
	border-color: #a1a1aa;
}

article hr {
	border-style: solid;
	border-color: #18181b;
}

article sub, article sup {
	font-size: .65rem;
}
article sup {
	top: -0.45em;
}

@media screen and (min-width: 1024px) {
	article sup {
		top: -0.8em;
	}
}

@media (prefers-color-scheme: dark) {
	article blockquote {
		color: #a1a1aa;
	}
	article hr {
		border-color: #f4f4f5;
	}
}
