.footnote-sim {
	color: #1d4ed8;
	font-size: .65rem;
}
.footnotes .footnote-ref {
	font-size: 0.65rem;
}
.footnotes .footnote-ref a {
	border-color: transparent;
}
.footnotes .footnotes-sep {
	margin-bottom: 0.75rem;
}
.footnotes .footnotes-list {
	list-style-type: decimal;
	padding-left: 1.75rem;
}
.footnotes .footnote-item, .footnotes .footnote-item p {
	font-size: clamp(0.8333rem, calc(-0.0831vw + 0.8500rem), 0.7502rem) !important;
	letter-spacing: normal;
	line-height: 1.5;
	margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
	.footnotes .footnote-item, .footnotes .footnote-item p {
		font-size: clamp(0.8333rem, calc(-0.0831vw + 0.8500rem), 0.7502rem);
	}
}
.footnotes .footnote-item pre, .footnotes .footnote-item code {
	font-size: 0.75rem;
}

@media (prefers-color-scheme: dark) {
	.footnote-sim {
		color: #dbeafe;
	}
}
