{% set eleventyEnv = projEnv.environment %}
{% set nonce = nonce.nonceValue %}
<!DOCTYPE html>
<html lang="en">
  {% include 'layouts/partials/head.njk' %}
  <body>
    {% include 'layouts/partials/header.njk' %}
    {{ content | safe }}
    {% include 'layouts/partials/footer.njk' %}
    {% if eleventyEnv == "production" %}
      <script nonce="{{ nonce }}" src="/assets/js/lazyload_17-4-0.min.js"></script>
      <script nonce="{{ nonce }}" src="/assets/js/{{ lazyloadhelper.lazyloadJS }}"></script>
    {% else %}
      <script src="/assets/js/lazyload_17-4-0.min.js"></script>
      <script src="/assets/js/lazyload-helper.js"></script>
    {% endif %}
  </body>
</html>
