<!DOCTYPE html>
<html lang="en">
  {% include 'layouts/partials/head.njk' %}
  <body>
    {{ content | safe }}
    <p>Date: {{ page.date }}</p>
    <p>Last modified: {{ lastmod }}</p>
  </body>
</html>
