<!DOCTYPE html>
<html lang="en">
  {%- include 'layouts/partials/head.njk' -%}
  <body>
		<div class="w-4/5 lg:w-[70%] xl:w-1/2 2xl:w-[45%] mt-10 mr-auto ml-auto">
	    {{ content | safe }}
		</div>
  </body>
</html>
