---
title: BryceWray.com
layout: base
eleventyImport.collections: ["post"]
---

  <main>
    <div class="pt-12 lg:pt-8 lg:flex w-full mr-auto ml-auto" data-pagefind-ignore>
      <div class="lg:w-[40%] px-8 lg:pr-[3em] lg:pl-2 text-center lg:text-right">
        <h1 class="font-semibold pt-4 lg:pr-0 lb:pb-0 lg:pt-[3.5em] lg:pl-[2em] 2xl:pt-[2.5em] fluid-lg lg:fluid-2xl !tracking-tight !leading-normal">Welcome&nbsp;to brycewray.com, offering&nbsp;<a href="/about/">its&nbsp;owner</a>&rsquo;s observations, opinions, and&nbsp;geekiness since&nbsp;2018.</h1>
      </div>
      <div class="text-center lg:text-left lg:w-7/12 px-6 lg:pl-16 lg:pt-[3.5em]">
        <div class="mt-8 border-blue-700 dark:border-white mx-auto mb-8 w-[15rem] border-solid border-b-2 lg:hidden"></div>
        <h2 class="font-semibold h1 mt-4 lg:mt-0 mb-4 lg:mb-8 fluid-3xl !tracking-tighter !leading-normal">Latest <a href="/posts/">posts</a></h2>
        {% for post in collections.post | reverse -%}
          {% if loop.index0 < 3 %}
          <div class="lg:pr-8">
            <h2 class="font-medium not-italic mb-2 fluid-xl lg:fluid-2xl !tracking-tight !leading-tight"><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h2>
            <p class="font-light fluid-base lg:fluid-lg !tracking-tight !leading-normal mt-1 mb-1 lg:mb-2">
							{{ post.data.description | safe }}
            </p>
            <p class="fluid-sm lg:fluid-base !tracking-tight !leading-normal mt-0 mb-8">
              {% if not ("The site this week" in post.data.title) %}<strong><time datetime="{{ post.date | dateStringISO }}">{{ post.date | dateStringISO }}</time></strong>{% endif %}
            </p>
          </div>
          {% endif -%}
        {% endfor -%}
        <p class="mb-[3em] fluid-base !tracking-normal""><a href="/posts/"><strong>All {{ collections.post.length }} posts</strong></a> <span class="text-sm"><em>(listed five per page)</em></span></p>
      </div>
    </div>
  </main>
