---
title: sitemap
layout: base
eleventyExcludeFromCollections: true
eleventyImport.collections: ["post"]
---
  <main>
    <div class="sitemap-Container" data-pagefind-ignore>
			<div class="sitemap-Div">
				<h1 class="ctr">Sitemap</h1>
				<h2>Main pages</h2>
				<ul>
					<li><a href="/">Home page</a></li>
					<li><a href="/about/">About me</a></li>
					<li><a href="/search/">Search page</a></li>
					<li><a href="/privacy/">Privacy policy</a></li>
					<li><a href="/contact/">How to contact me</a></li>
				</ul>
				<h2>Posts</h2>
				<ul>
					<li><a href="/posts/"><strong>Complete list</strong></a> <em>(first page of paginated list; five posts per page)</em></li>
					{% for post in collections.post | reverse %}
						<li><a href="{{ post.url }}"><strong>{{ post.data.title | safe }}</strong></a>{% if not 'The site this week' in post.data.title %}&nbsp;&nbsp;<strong class="legal">{{ post.date | dateStringISO }}</strong>{% endif %}<br />
						{{ post.data.description | safe }}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
  </main>
