		{% set regExpCode = r/<pre class=.*<\/pre>/gm %}
		{% set regExpImg = r/.imgB.*}/gm %}
		{% set regExpCSS = r/<style.*<\/style>/gm %}
		{% set fixedContent = content | replace(regExpCode, "") | replace(regExpCSS, "") | striptags | replace(regExpImg, "") %}
		{% set wordCount = fixedContent | wordcount %}
		{% set readingRate = 225 %}
		{% set readingTime = (wordCount/readingRate) | round %}
		{% if readingTime < 1 %}{% set readingTime = 1 %}{% endif %}
		<div class="billboard-div">
      <div class="billboard-title-block">
        <h1 class="billboard-title-text">{{ title | safe }}</h1>
        {% if description and not (title == siteparams.searchPageTitle) %}
        <p class="billboard-description-text">{{ description | safe }}</p>
        {% endif %}
				{% if (not (title == siteparams.searchPageTitle)) and (not (title == "Want to reach me?")) %}
				<p class="billboard-p-text" data-pagefind-ignore>
          {% if (not 'The site this week' in title) %}<strong>{{ page.date | dateStringISO }}</strong>{% else %}&nbsp;{% endif %}
        </p>
				{% endif %}
				{% if (not (title == siteparams.searchPageTitle)) and (not (title == "Want to reach me?")) %}
				<p class="ctr legal" data-pagefind-ignore>
					{% gitinfo page.date, page.inputPath %}<br />
					{{ wordCount | numCommas }} words • Reading time: {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %}
				</p>
				{% endif %}
      </div>
    </div>
