{% set eleventyEnv = projEnv.environment %}
	<head>
		<meta name="generator" content="{{ eleventy.generator }}">
	{% include 'layouts/partials/head-meta.njk' %}
	{% include 'layouts/partials/head-favicons.njk' %}
    <!-- https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch#best_practices -->
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://res.cloudinary.com" crossorigin>
		<link rel="dns-prefetch" href="https://giscus.app">
		<link rel="preconnect" href="https://giscus.app" crossorigin>
    <!-- discover feeds -->
    <link rel="alternate" title="BryceWray.com - JSON" type="application/feed+json" href="https://www.brycewray.com/index.json">
    <link rel="alternate" title="BryceWray.com - RSS" type="application/rss+xml" href="https://www.brycewray.com/index.xml">
	{% include 'layouts/partials/head-css.njk' %}
		{% if eleventyEnv == "production" %}
		{# Fathom - beautiful, simple website analytics #}
		<script src="https://guitar-thriving.brycewray.com/script.js" data-site="UJDSNFVF" defer></script>
		{# / Fathom #}
		{% endif %}
  </head>
