{% set eleventyEnv = projEnv.environment %}

	<head>
		<meta name="generator" content="{{ eleventy.generator }}">
    {% if eleventyEnv == "production" %}
      <link rel="preload" href="/css/{{ csshash.indexCSS }}" as="style" />
      <link rel="stylesheet" href="/css/{{ csshash.indexCSS }}" type="text/css" />
    {% else %}
      <link rel="stylesheet" href="/css/index.css" type="text/css" />
    {% endif %}
	</head>
