{%- set eleventyEnv = projEnv.environment -%}
{%- set siteHost = siteparams.siteHost -%}
{%- set searchPageTitle = siteparams.searchPageTitle -%}

{%- set cssTypes = [
	[(('<pre class="language' in content) or ('<code>' in content)), 'prismjs'],
	[('<table' in content), 'tables'],
	[('<lite-youtube' in content), 'lite-yt-embed'],
	[(searchPageTitle in title), 'search-form']
]
-%}

{# {% for condition, fileName in cssTypes %}
	<link rel="testCond" content="{{ condition }}" />
	<link rel="testFile" content="{{ fileName }}" />
{% endfor %} #}

{%- set cssStyles -%}
	{%- for condition, fileName in cssTypes -%}
		{%- if condition == true -%}
			{%- set tempName = "../../../assets/css/" + fileName + ".css" -%}
			{% include tempName %}
		{%- endif -%}
	{%- endfor %}
{%- endset -%}

{# <link rel="stylesList" content="{{ cssStyles }}" /> #}

{%- if cssStyles != "" -%}
	<style>{{ cssStyles | safe }}</style>
{%- endif -%}
