{%- set eleventyEnv = projEnv.environment -%}
{%- set siteHost = siteparams.siteHost -%}
{%- set searchPageTitle = siteparams.searchPageTitle -%}

	{% if searchPageTitle in title %}
		{% if eleventyEnv == "production" %}
      <link{% if siteHost == "CFP" %} nonce="DhcnhD3khTMePgXw"{% endif %}rel="preload" href="/css/{{ csshash.searchFormCSS }}" as="style" crossorigin />
      <link{% if siteHost == "CFP" %} nonce="DhcnhD3khTMePgXw"{% endif %} rel="stylesheet" href="/css/{{ csshash.searchFormCSS }}" type="text/css" crossorigin />
    {% else %}
      <link rel="stylesheet" href="/css/search-form.css" type="text/css" />
    {% endif %}
	{% endif %}
