{%- set eleventyEnv = projEnv.environment -%}
{%- set siteHost = siteparams.siteHost -%}

	{% if '<lite-youtube' in content %}
		{% if eleventyEnv == "production" %}
      <link{% if siteHost == "CFP" %} nonce="DhcnhD3khTMePgXw"{% endif %}rel="preload" href="/css/lite-yt-embed.css" as="style" crossorigin />
      <link{% if siteHost == "CFP" %} nonce="DhcnhD3khTMePgXw"{% endif %} rel="stylesheet" href="/css/lite-yt-embed.css" type="text/css" crossorigin />
    {% else %}
      <link rel="stylesheet" href="/css/lite-yt-embed.css" type="text/css" />
    {% endif %}
	{% endif %}
