<script src="/assets/js/lite-yt-embed_0-2-0.js"></script>

<lite-youtube videoid="{{ videoId }}" data-bg="url('https://i.ytimg.com/vi/{{ videoId }}/hqdefault.jpg')" {% if params %} params="{{ params }}"{% endif %}>
  <button type="button" class="lty-playbtn">
    <span class="lyt-visually-hidden">Play video: {{ videoTitle }}</span>
  </button>
</lite-youtube>
<noscript><p class="mt-2 mb-0 italic text-center text-xs leading-tight">[Video playback capability requires JavaScript to be&nbsp;enabled.]</p></noscript>
<p class="mt-2 text-center text-xs leading-tight"><strong class="text-red-800 dark:text-red-400">Note</strong>: Clicking&nbsp;the&nbsp;video constitutes your consent to view&nbsp;it via&nbsp;YouTube (including&nbsp;cookies). To&nbsp;view&nbsp;it on the YouTube&nbsp;site instead, please&nbsp;use&nbsp;<a href="https://www.youtube.com/watch?v={{ videoId }}"  target="_blank" rel="noopener">this&nbsp;link</a>, which&nbsp;opens in&nbsp;a different browser&nbsp;window/tab.</p>
