				<div class="posts-pagerThing">
					{# First page. #}
					<div>
						{% if (pagination.href.first != page.url) and (pagination.href.first != pagination.href.previous) %}
							<a class="icon" aria-label="First page" href={{ pagination.href.first}}>
								{% include "layouts/partials/svgPrevPageIcon.njk" %}{% include "layouts/partials/svgPrevPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgFirstPageIcon.njk" %}{% include "layouts/partials/svgFirstPageIcon.njk" %}
						{% endif %}
					</div>
					<div class="pagerSpacer"></div>
					{# Previous page. #}
					<div>
						{% if pagination.href.first != page.url %}
		          <a class="icon" aria-label="Previous page" href={{ pagination.href.previous }}>
								{% include "layouts/partials/svgPrevPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgFirstPageIcon.njk" %}
						{% endif %}
					</div>
					<div class="pagerSpacer"></div>
 					<div class="pagerSpacer"></div>
					{# Next page. #}
					<div>
						{% if pagination.href.last != page.url %}
							<a class="icon" aria-label="Next page" href={{ pagination.href.next }}>
								{% include "layouts/partials/svgNextPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgLastPageIcon.njk" %}
						{% endif %}
					</div>
 					<div class="pagerSpacer"></div>
					{# Last page. #}
					<div>
						{% if (pagination.href.last != page.url) and (pagination.href.last != pagination.href.next ) %}
							<a class="icon" aria-label="Last page" href={{ pagination.href.last }}>
								{% include "layouts/partials/svgNextPageIcon.njk" %}{% include "layouts/partials/svgNextPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgLastPageIcon.njk" %}{% include "layouts/partials/svgLastPageIcon.njk" %}
						{% endif %}
					</div>
				</div>
