				<div class="flex flex-row gap-4 lg:gap-8 justify-center">
					{# First page. #}
					<div>
						{% if pagination.firstPageHref != page.url %}
							<a class="border-0 decoration-transparent focus:border-0 focus:decoration-transparent hover:border-0 hover:decoration-transparent active:border-0 active:decoration-transparent" aria-label="First page" href={{ pagination.firstPageHref}}>
								{% include "layouts/partials/svgPrevPageIcon.njk" %}{% include "layouts/partials/svgPrevPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgFirstPageIcon.njk" %}{% include "layouts/partials/svgFirstPageIcon.njk" %}
						{% endif %}
					</div>
					<div class="pagerSpacer"></div>
					{# Previous page. #}
					<div>
						{% if pagination.firstPageHref != page.url %}
		          <a class="border-0 decoration-transparent focus:border-0 focus:decoration-transparent hover:border-0 hover:decoration-transparent active:border-0 active:decoration-transparent" aria-label="Previous page" href={{ pagination.previousPageHref }}>
								{% include "layouts/partials/svgPrevPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgFirstPageIcon.njk" %}
						{% endif %}
					</div>
					<div class="pagerSpacer"></div>
 					<div class="pagerSpacer"></div>
					{# Next page. #}
					<div>
						{% if pagination.lastPageHref != page.url %}
							<a class="border-0 decoration-transparent focus:border-0 focus:decoration-transparent hover:border-0 hover:decoration-transparent active:border-0 active:decoration-transparent" aria-label="Next page" href={{ pagination.nextPageHref }}>
								{% include "layouts/partials/svgNextPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgLastPageIcon.njk" %}
						{% endif %}
					</div>
 					<div class="pagerSpacer"></div>
					{# Last page. #}
					<div>
						{% if pagination.lastPageHref != page.url %}
							<a class="border-0 decoration-transparent focus:border-0 focus:decoration-transparent hover:border-0 hover:decoration-transparent active:border-0 active:decoration-transparent" aria-label="Last page" href={{ pagination.lastPageHref }}>
								{% include "layouts/partials/svgNextPageIcon.njk" %}{% include "layouts/partials/svgNextPageIcon.njk" %}
							</a>
						{% else %}
							{% include "layouts/partials/svgLastPageIcon.njk" %}{% include "layouts/partials/svgLastPageIcon.njk" %}
						{% endif %}
					</div>
				</div>
