---
title: about
layout: base
---
<main>
  {% include 'layouts/partials/billboard.njk' %}
  <div class="container-narrower">
    <article>
			{% set dashContent = content | replace(" — ", "—") %}
      {{ dashContent | safe }}
    </article>
  </div>
</main>
