@charset 'utf-8';

div.highlight {
	position: relative;
	background-color: var(--bkgd-code);
}

:root {
	--orange-300: hsl(25, 100%, 78%);
	--orange-700: hsl(25, 100%, 36%);
	--yellow-200: hsl(55, 90%, 76%);
	--yellow-300: hsl(55, 84%, 62%);
	--yellow-800: hsl(55, 100%, 20%);
	--green-100: hsl(145, 78%, 93%);
	--green-600: hsl(145, 90%, 34%);
	--emerald-200: hsl(155, 76%, 81%);
	--emerald-700: hsl(155, 70%, 28%);
	--cyan-300: hsl(190, 100%, 73%);
	--cyan-600: hsl(190, 100%, 34%);
	--blue-300: hsl(210, 96%, 78%);
	--blue-700: hsl(210, 100%, 45%);
	--fuchsia-300: hsl(290, 93%, 83%);
	--fuchsia-700: hsl(290, 70%, 41%);
	--rose-300: hsl(330, 98%, 83%);
	--rose-700: hsl(330, 73%, 42%);
}

html, html[data-theme="light"] {
	--gray: var(--gray-700);
	--orange: var(--orange-700);
	--yellow: var(--yellow-800);
	--green: var(--green-600);
	--emerald: var(--emerald-700);
	--cyan: var(--cyan-600);
	--blue: var(--blue-700);
	--fuchsia: var(--fuchsia-700);
	--rose: var(--rose-700);
	--clr: var(--default);
}

html[data-theme="dark"] {
	--gray: var(--gray-300);
	--orange: var(--orange-300);
	--yellow: var(--yellow-300);
	--green: var(--green-100);
	--emerald: var(--emerald-200);
	--cyan: var(--cyan-300);
	--blue: var(--blue-300);
	--fuchsia: var(--fuchsia-300);
	--rose: var(--rose-300);
	--clr: var(--white);
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		--gray: var(--gray-300);
		--orange: var(--orange-300);
		--yellow: var(--yellow-300);
		--green: var(--green-100);
		--emerald: var(--emerald-200);
		--cyan: var(--cyan-300);
		--blue: var(--blue-300);
		--fuchsia: var(--fuchsia-300);
		--rose: var(--rose-300);
		--clr: var(--white);
	}
}


code {
  font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
  background-color: var(--bkgd-code);
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--clr);
  background: none;
  font-family: var(--monospaced);
	font-size: var(--normal);
	text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
	padding: 1em;
  margin: .5em 0;
  overflow: auto;
	border-radius: 16px;
	border: 1px solid var(--gray-400);
}

pre.indentAfterLI {
	margin-left: 2.5em;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  /* background-color: var(--white); */
	color: var(--black);
	/* @media (prefers-color-scheme: dark) {
		background: var(--slate-800);
	} */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--emerald);
}

.token.punctuation {
  color: var(--orange);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--fuchsia);
}

.token.function-name {
  color: var(--blue);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--yellow);
}

.token.constant {
  color: var(--cyan);
}

.token.property,
.token.class-name,
.token.symbol {
  color: var(--orange);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--blue);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--orange);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--cyan);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: var(--green);
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  opacity: 1;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid. */
/*   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
  span {
    color: var(--white);
  }
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none; /* for button */
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: hsl(0, 0%, 100%); /* was #bbb */
  font-size: .8em;
  padding: 0 .5em;
  background: var(--white);
  box-shadow: 0 2px 0 0 hsla(0, 0%, 0%, 0.2);
  border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

/* === for copy-code-to-clipboard */

/* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color: var(--gray-500);
	border-color: var(--gray-500);
	background-color: var(--gray-100);
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill: var(--gray-500);
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: var(--green-600);
	background-color: var(--green-100);
	opacity: 1;
}
.clipboard-button:hover > svg {
	fill: var(--green-600);
}
.clipboard-button:focus {
	outline: 0;
}
/*
.highlight {
	position: relative;
}
*/
.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}
