---
title: privacy
layout: base
---
  <main>
    {% include 'layouts/partials/billboard.njk' %}
    <div class="sm:w-[80%] lg:w-[70%] xl:w-[60%] 2xl:w-1/2 mt-10 mr-auto ml-auto px-6">
      <div class="mx-auto border-b-2 border-blue-700 dark:border-white w-5/12"></div>
      <article>
        {{ content | safe }}
      </article>
    </div>
  </main>
