---
layout: base
tags:
  - nav
navtitle: Posts
title: Posts
description: Posts for this website
eleventyExcludeFromCollections: true
pagination:
  data: collections.post
  size: 5
  reverse: true
  alias: posts
permalink: "posts/{% if pagination.pageNumber != 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
# above permalink fixes Eleventy issue #2161 **and** conforms to how Hugo repo paginates
---

  <main>
    <div class="container ctr sansSerif">
      <h1 class="posts-Head">Posts</h1>
      <div class="posts-Container">
        <p class="posts-pagerThingp">
          {% if pagination.firstPageHref != page.url %}
          <a class="icon" aria-label="First page" href={{ pagination.firstPageHref}}>&#9664;&#9664;</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="icon" aria-label="Previous page" href={{ pagination.previousPageHref }}>&#9664;</a>
          {% else %}
          <span>&#9664;&#9664;</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>&#9664;</span>
          {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% if pagination.lastPageHref != page.url %}
          <a class="icon" aria-label="Next page" href={{ pagination.nextPageHref }}>&#9654;</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="icon" aria-label="Next page" href={{ pagination.lastPageHref }}>&#9654;&#9654;</a>
          {% else %}
          <span>&#9654;</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>&#9654;&#9654;</span>
          {% endif %}
        </p>
        <hr class="paginatorTop" />
        {% for post in posts %}
          <div class="posts-ItemDiv">
            <h2 class="posts-Title"><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h2>
            <p class="posts-Subtitle"><strong>{{ post.data.subtitle | safe }}</strong></p>
            <p class="posts-Description">
              <em>{{ post.data.description | safe }}</em>
            </p>
            <p class="posts-Dates"><strong><time datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time></strong>
              {% if post.data.lastmod %}
              <br /><span class="eightyFive">Last modified <time datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time></span>
              {% endif %}
            </p>
            <p class="legal">&nbsp;</p><!-- where reading time goes in Hugo site -->
          </div>
        {% endfor %}
        <hr class="paginatorBottom" />
        <p class="posts-pagerThingp">
          {% if pagination.firstPageHref != page.url %}
          <a class="icon" aria-label="First page" href={{ pagination.firstPageHref}}>&#9664;&#9664;</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="icon" aria-label="Previous page" href={{ pagination.previousPageHref }}>&#9664;</a>
          {% else %}
          <span>&#9664;&#9664;</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>&#9664;</span>
          {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% if pagination.lastPageHref != page.url %}
          <a class="icon" aria-label="Next page" href={{ pagination.nextPageHref }}>&#9654;</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="icon" aria-label="Next page" href={{ pagination.lastPageHref }}>&#9654;&#9654;</a>
          {% else %}
          <span>&#9654;</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>&#9654;&#9654;</span>
          {% endif %}
        </p>
      </div>
    </div>
  </main>
