---
layout: base
tags:
  - nav
navtitle: Posts
title: Posts
description: Posts for this website
eleventyExcludeFromCollections: true
pagination:
  data: collections.post
  size: 5
  reverse: true
  alias: posts
permalink: "posts/{% if pagination.pageNumber != 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
# above permalink fixes Eleventy issue #2161 **and** conforms to how Hugo repo paginates
eleventyImport:
	collections: ["post"]
---

  <main>
    <div class="posts-Wrapper ctr" data-pagefind-ignore>
      <h1 class="posts-Head">Posts</h1>
      <div class="posts-Container">
				{% include "layouts/partials/pagerthing.njk" %}
				<hr class="paginatorTop" />
        {% for post in posts %}
          <div class="posts-ItemDiv">
            <h2 class="posts-Title"><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h2>
						{% set dashDescription = post.data.description | replace(" — ", "—") %}
            <p class="posts-Description">
              {{ dashDescription | safe }}
            </p>
            <p class="posts-Dates">{% if not 'The site this week' in post.data.title %}<strong><time datetime="{{ post.date | dateStringISO }}">{{ post.date | dateStringISO }}</time></strong>{% endif %}
            </p>
          </div>
        {% endfor %}
        <hr class="paginatorBottom" />
				{% include "layouts/partials/pagerthing.njk" %}
      </div>
    </div>
  </main>
